.fade-appear {
	opacity: 0;
}

.fade-appear.fade-appear-active {
	opacity: 1;
	transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-webkit-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-moz-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-ms-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
}

.fade-enter {
	opacity: 0;
}

.fade-enter.fade-appear-enter {
	opacity: 1;
	transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-webkit-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-moz-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-ms-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
}

.fade-leave {
	opacity: 1;
}

.fade-leave.fade-leave-active {
	opacity: 0;
	transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-webkit-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-moz-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
	-ms-transition: all 3000ms cubic-bezier(.6,.17,.64,.99);
}